.teamwork {
    background-color: rgb(250, 250, 250);
    width: 77%;
    margin: 0 auto;
    padding: 50px;
    
    
}

.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

