.header{
    width: 90%;
    margin: 0 auto;
    
}

.imgHeader{
    width: 99%;
    height: 450px;
    background-image: url('./img/foto-header.png');
    background-size: cover;
    margin: 0 auto 30px;
    position: relative;
}

.imgHeader h1{
    font-size: 2.5rem;
    color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 240px;
    left: 35%;
    text-shadow: 0 0 7px black;
}

.header p{
    width: 80%;
    font-family: montserrat;
    font-size: 12.5px;
    font-weight: 500;
    color: rgb(129, 129, 129);
    margin: 0 auto;
    text-align: center;
}

.header a{
    text-decoration: none;
}

.header a p{
    width: 17%;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 133, 170);
    margin: 20px auto;
    padding: 20px;
    border-top: solid 1px rgb(129, 129, 129);
}